<!-- Persistent Header -->
<div id="navbar">
    <span>
        <img id="logo"
             src="/res/img/house.png"
             alt="Image: house:":>
        <h1 id="title_header">H0M35T3AD</h1>
    <span>

    <ul id="navbar_buttons">
        <li class="navbar_button">
            <a href="#">
                <img src="/res/img/account.png" alt="Image: Profile":>
            </a>
        </li>
        <li class="navbar_button">
            <a href="#">
                <img src="/res/img/gear.png" alt="Image: settings":>
            </a>
        </li>
</div>
