<!DOCTYPE html>
<html lang="en-US">

<!-- Metadata -->
<head>
    <!-- Link Default Head Partial -->
    {{>head}}

    <title>H0M35T3AD</title>

    <!-- Basic -->
    <meta name="author" content="Jeremy Mallette">
    <meta name="last update" content="10/12/2017">
    <meta name="description" content="Home page - H0M35T3AD Project">

    <!-- Refresh Rate -->
    <meta http-equiv="refresh" content="30">
</head>

<!-- Content -->
<body>

    <div class="page_header">
        {{>navbar}}
    </div>

    <div class="content_body">
        {{{body}}}
    </div>

</body>
</html>
