/**
 * Elements Belonging to the Dashboard Page
 * @author Jeremy Mallette
 * @version 1.0.0
 */


.dashboard-table {
  margin: 50px auto;
  padding: 50px;
  overflow: auto;
  width: 90%;

  outline: 4px solid $theme-color-dark;
  border-collapse: collapse;
  border-spacing: 0px;
}

.dashboard-table .dashboard-table-header {
  padding: $padding-standard;

  background-color: $theme-color-dark;
  color: $theme-color-stark;

  font-family: $font-deco;
  font-size: 18px;
  text-align: center;
}

.dashboard-table-row {
  cursor: pointer;
}

.dashboard-table .dashboard-table-cell {
  padding: $padding-standard;

  @include font($font-main, 0.8em, $theme-color-font);
  text-align: center;
}

// Alternate Row Colours
.dashboard-table .dashboard-table-row:nth-child(even) {
  background-color: $background-off;
}

// Highlight Hover Row
.dashboard-table .dashboard-table-row:hover {
  background-color: $theme-color-light;
}
