<!-- Navbar -->
<div class="navbar">
  <ul class="navbar-list-left">
    <li class="navbar-button">
      <a [routerLink]="['/']">
          <img src="/assets/img/house.png" alt="Image: house:"/>
      </a>
    </li>
    <li class="navbar-button">
      <a [routerLink]="['/']">
        <h1 id="navbar-title">H0M35T3AD</h1>
      </a>
    </li>
  </ul>

  <ul class="navbar-list-right">
    <li class="navbar-button">
      <a [routerLink]="['/profile']">
        <img src="/assets/img/account.png" alt="Image: Profile"/>
      </a>
    </li>
    <li class="navbar-button">
      <div class="navbar-dropdown">
        <a (click)="onSettingsClicked()">
          <img class="navbar-dropdown-init" src="/assets/img/gear.png" alt="Image: settings"/>
        </a>
        <div class="navbar-dropdown-content" id="settingsDropdown">
          <button class="dropbutton" [routerLink]="['/settings/account']">Account Settings</button>
          <button class="dropbutton" [routerLink]="['/settings/devices']">Device Settings</button>
          <button class="dropbutton" (click)="onLogoutClicked()">Logout</button>
        </div>
      </div>
    </li>
  </ul>
</div>
