/**
 * Alerts - Customizing the Flash Messages Module
 * @author Jeremy Mallette
 * @version 1.0.0
 */

.flash-message
{
  position: fixed;
  top: 5%;
  left: 5%;
  @include z('alerts');
  margin: $margin-standard auto;
  width: 90%;

  align-content: center;
  box-shadow: $shadow-main;
}

.flash-message p {
  @include font($font-main, 1em, $theme-color-font);
  text-align: center;
}

.flash-message:hover {
  opacity: 0.2;
}

.alert-danger {
  background-color: #F2DEDE;
}

.alert-warning {
  background-color: #FCF8E3;
}

.alert-info {
  background-color: #D9EDF7;
}

.alert-normal {
  background-color: #F2F2F2;
}


.alert-success {
  background-color: #DFF0D8;
}

#grayOutDiv
{
  background-color: #333;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include z('modal');
}
