/**
 * Default Link Format
 * @author Jeremy Mallette
 * @version 1.0.0
 */

a:hover {
  color: $theme-color-light;
  text-decoration: none;
}

a:active {
  color: $theme-color-dark;
  text-decoration: none;
}

a:visited {
  color: $theme-color-font;
  text-decoration: none;
}
