/**
 * Tooltips Support
 * @author Jeremy Mallette
 * @version 1.0.0
 */

// Tooltip Container
.tooltip {
  position: relative;
  display: inline-block;
}

// Tooltip
.tooltip .tooltip-text {
  position: absolute;
  @include z('tooltips');
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;

  visibility: hidden;
  min-width: 120px;
  background-color: $background-off;
  @include font($font-main, 1em, $theme-color-font);
  text-align: center;

  // Fade
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

// Tooltip Tail
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: $background-off transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
