<!-- Back Button -->
<!--button class="button-dark" id="back-button" [routerLink]="['/dashboard']">Back</button-->

<div class="text-container" id="device-page">
  <h1>{{device?.customId}}</h1>
  <br><br>

  <button class="collapse-header" (click)="expand(0)">Data</button>
  <div class="collapse-panel">
    <div class="clearfix">
      <div class="about-vertical-container left">
        <h2>Standard Data</h2>
        <p class="data"><strong>Device Service: </strong><br>{{device?.deviceService}}</p>
        <p class="data"><strong>IP Address: </strong><br>{{device?.lastIpAddress}}</p>
        <p class="data"><strong>Status: </strong><br>{{device?.lastStatusUpdate}}</p>
        <p class="data"><strong>Last Updated: </strong><br>{{device?.dateLastUpdated}}</p>
      </div>
      <div class="about-vertical-container data-container right">
        <h2>Custom Data</h2>
        <p class="data">This feature has yet to be implemented.</p>
      </div>
    </div>
    <br><hr>
  </div>
  <button class="collapse-header" (click)="expand(1)">Custom Interfaces</button>
  <div class="collapse-panel">
    <p>This feature has yet to be implemented.</p>
    <br><hr>
  </div>
  <button class="collapse-header" (click)="expand(2)">Communication Emulator</button>
  <div class="collapse-panel">
    <p>This feature has yet to be implemented.</p>
    <br><hr>
  </div>
  <button class="collapse-header" (click)="expand(3)">Data Stream</button>
  <div class="collapse-panel">
    <p>This feature has yet to be implemented.</p>
    <br><hr>
  </div>
</div>
