<div class="text-container" id="error-page">
  <div class="container">
    <img class="selectDisable"
             id="error-img"
             src="/assets/img/broken-house.png"
             alt="Img-Error"/>
 </div>
 <div class="container">
   <h2>404: Page Not Found</h2>
   <p>
     Try reloading the page and check the address that you are trying to reach.
   </p>
   <p>
     If the problem is a bug and persists, please contact an administrator on
     Github or trough email.
   </p>
 </div>
</div>
