/**
 * Main Style sheet
 *
 * Very Generic Styles and all necessary imports
 *
 * @author Jeremy Mallette
 * @version 1.0.0
 */


/*  Imports
------------------------------------------------------------------------------*/
@import "./assets/css/navbar.css";
@import "./assets/css/dashboard-table.css";
@import "./assets/css/forms.css";
@import "./assets/css/containers.css";
@import "./assets/css/buttons.css";
@import "./assets/css/links.css";
@import "./assets/css/generic-classes.css";
@import "./assets/css/flash-messages.css";
@import "./assets/css/tooltips.css";
@import "./assets/css/simple-animations.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Share+Tech+Mono');

/*  Generic Styles
------------------------------------------------------------------------------*/

html {
  min-width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;  /* Fixes bug... */
  padding: 0; /* Somehow didn't inherit from all... */
  height: 100%;

  background-color: #DCDCDC;
}

p, q, a {
  margin: 16px;
  padding: 16px;

  color: #151515;
  font-family: "Montserrat", helvetica, sans-serif;
  font-size: 1em;
}

/*  Misc. Classes
------------------------------------------------------------------------------*/

.content-body {
  position: relative;
  margin-top: 48px;     /* Prevent overflow into fixed navbar */
  z-index: 0;
  min-width: 400px;
}

.title {
  margin: 50px;
  margin-top: 75px;
  padding: 50px;
  height: 50px;

  color: #DC143C;
  font-family: "Share Tech Mono", "Courier New", Courier, monospace;
  font-size: 4em;
  /*font-style: italic; /* TODO : Maybe change? Design choice */
  text-align: center;
}

.error-title {
  display: block;
  padding: 50px;

  color: #DC143C;
  font-family: "Share Tech Mono", "Courier New", Courier, monospace;
}

/* Misc. Object
------------------------------------------------------------------------------*/

#particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
  height: calc(100% - 500px);
}

#homestead-explanation {
  padding: 64px;
  margin: 64px 0px 0px 0px;

  background-color: #F2F2F2;
  box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
}
