/**
 * Various Buttons
 *
 * Generic button classes with slightly different, but matching styles
 *
 * @author Jeremy Mallette
 * @version 1.0.0
 */

.button-dark {
  display: inline-block;
  border: none;
  min-width: 100px;
  margin: 8px;
  padding: 16px;

  background-color: #DC143C;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  color: #FFFFFF;
  font-family: "Montserrat", helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.button-dark:hover {
  background-color: #F6CECE;
  color: #151515;
}

.button-light {
  display: inline-block;
  border: none;
  min-width: 100px;
  margin: 8px;
  padding: 16px;

  background-color: #F2F2F2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  color: #151515;
  font-family: "Montserrat", helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.button-light:hover {
  background-color: #F6CECE;
}

#back-button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 64px 16px 16px;
}
