/**
 * Generic Containers
 *
 * Generic containers with a focus on function and positioning rather than style
 *
 * @author Jeremy Mallette
 * @version 1.0.0
 */

/* Generic Containers --------------------------------------------------------*/

.container {
  margin: 16px auto;
  padding: 16px;
  text-align: center;
  align-content: center;
}

.text-container {
  width: 80%;
  margin: 16px auto;
  padding: 16px;

  background-color: #F2F2F2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Misc. Containers ----------------------------------------------------------*/

.homepage-button-group {
  display: block;
  margin: 0 auto;
  padding: 32px;
  width: 356px; /* TODO: Find a non-explicit was of handling this (SASS?) */
}

.backdrop-img {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.about-vertical-container {
  display: inline-block;
  margin: 0px auto;
  padding: 16px;
  width: 40%;

  text-align: center;
  align-content: center;
}

.about-vertical-container img {
  display: block;
  margin: 0px auto;
  padding: 16px;
  width: 75%;
  max-width: 312px; !important

  text-align: center;
  align-content: center;
}

.text-container#about-page {
  margin: 80px auto;
}

.text-container#about-page h2, h3, h4 {
  margin-top: 16px;

  text-align: center;
  align-content: center;
}

.text-container#profile-page {
  margin: 80px auto;
  max-width: 624px;
}

.text-container#profile-page p {
  margin: 0px auto;
  padding: 0px;
}
