.container {
  margin: 16px auto;
  padding: 16px;
  text-align: center;
  align-content: center;
}

.homepage-button-group {
    display: block;
    margin: 0 auto;
    padding: 32px;
    width: 356px; /* TODO: Find a non-explicit was of handling this (SASS?) */
}

.backdrop-img {
    display: block;
    width: 100%;
    min-width: 350px;
    margin: 0 auto;
    overflow: hidden;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
