/*
 * CSS For the Homepage Summary Table
 * Autor: Jeremy Mallette
 * Last Updated: 10/12/2017
 */

.dashboard-table {
    margin: 50px auto;
    padding: 50px;

    width: 90%;

    outline: 4px solid #DC143C;
    border-collapse: collapse;
    border-spacing: 0px;
}

.dashboard-table .dashboard-table-header {
    padding: 10px;

    background-color: #DC143C;
    color: #FFFFFF;

    font-family: courier;
    font-size: 18px;
    text-align: center;
}

.dashboard-table .dashboard-table-cell {
    padding: 10px;

    font-family: helvetica;
    font-size: 14px;
    text-align: center;
}

/* Alternate Row Colours */
.dashboard-table .dashboard-table-row:nth-child(even) {
    background-color: #F2F2F2;
}

/* Highlight Hover Row */
.dashboard-table .dashboard-table-row:hover {
    background-color: #F6CECE;
}
