.login-form {
    margin: 64px auto;
    padding: 64px;
    min-width: 300px;
    width: 20%;

    background-color: #F2F2F2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form-label {
    width: 200px;
    padding: 16px;

    color: #151515;
    font-family: helvetica;
    font-size: 1.2em;
}

.form-textbox {
    width: 250px;

    color: #151515;
    font-family: helvetica;
    font-size: 1.2em;
}
