/**
 * Form Elements
 *
 * Styles and CSS Functionality for the form elements
 *
 * @author Jeremy Mallette
 * @version 1.0.0
 */

.login-form {
  margin: 64px auto;
  padding: 64px;
  min-width: 300px;
  width: 20%;

  background-color: #F2F2F2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.register-form {
  margin: 64px auto;
  padding: 64px;
  min-width: 300px;
  width: 20%;

  background-color: #F2F2F2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.form-element {
  margin: 0 auto;
  padding: 16px 0;
  width: 95%;
}

.form-label {
  color: #151515;
  font-family: "Montserrat", helvetica, sans-serif;
  font-size: 1.2em;
}

.form-textbox {
  box-sizing: border-box;
  width: 100%;
  color: #151515;
  font-family: "Montserrat", helvetica, sans-serif;
  font-size: 1.2em;
}

#form-button-stretch {
  padding: 16px 0px;
  margin: 0px;
  width: 100%;
}

.form-explanation {
  margin: 0px;
  padding: 0px;

  color: #151515;
  font-family: "Montserrat", helvetica, sans-serif;
  font-size: 0.75em;
}
