/**
 * Generic Classes
 *
 * Generic classes with a focus on functional attributes rather than stylistic
 * ones. These are to be added, toggled, etc. to perform a task
 *
 * @author Jeremy Mallette
 * @version 1.0.0
 */

.show {
  display: block;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small-font {
  font-size: 0.8em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* This class disables the user highlight/select of an element */
.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* This class enables the user highlight/select of an element */
.selectEnable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
