/*
 * Define Link Colours
 * Author: Jeremy Mallette
 * Last Updated: 10/12/2017
 */

a:hover {
    color: #F6CECE;
    text-decoration: none;
}

a:active {
    color: #DC143C;
    text-decoration: none;
}

a:visited {
    color: #151515;
    text-decoration: none;
}
