/*
 * CSS for Navigation Bar
 * Author: Jeremy Mallette
 * Last Updated: 10/12/2017
 */

/* Whole Navbar */
.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-width: 350px;
    height: 48px;

    background-color: #DC143C;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
}

.navbar-list-left {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    height: 48px;

    list-style-type: none;
}

.navbar-list-right {
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 16px;
    height: 48px;

    list-style-type: none;
}

.navbar-button {
    display: inline;
}

.navbar-button a {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 48px;
    height: 48px;

    text-decoration: none;
}

/* Highlight Hover Button */
.navbar-list-right a:hover {
    background-color: #F6CECE;
}

.navbar-button img {
    display: inline;
    width: 48px;
    height: 48px;
}

.navbar-button #navbar-title {
    /* Make inline-and center vertically */
    position: relative;
    top: -60%;
    transform: translateY(60%);*/
    height: 50px;
    padding-left: 8px;

    color: #FFFFFF;
    font-family: courier;
    font-size: 24px;
    font-style: normal;
    text-align: left;
}

/* Dropdown Menu -------------------------------------------------------------*/

.navbar-dropdown {
    position: relative;
    display: inline-block;

    cursor: pointer;
}

.navbar-dropdown-content {
    display: none;            /* Is Hidden by default */
    position: absolute;
    right: 0;
    background-color: #F2F2F2;
    min-width: 160px;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropbutton {
    display: block;
    border: none;
    width: 100%;
    background-color: #F2F2F2;
    padding: 16px;

    color: #151515;
    font-family: helvetica;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

.dropbutton:hover {
    background-color: #F6CECE;
}

/* This class is toggled to display dropdown items */
.show {display:block;}
