/*
 * CSS for Navigation Bar
 * Author: Jeremy Mallette
 * Last Updated: 10/12/2017
 */

/* Whole Navbar */
#navbar {
    width: 100%;
    height: 50px;

    background-color: #DC143C;
}

/* Logo and Site Name */
#navbar #logo {
    float: left;
    padding-left: 10px;
    width: 50px;
    height: 50px;
}

#navbar #title_header {
    /* Make inline-and center vertically */
    display: inline-block;
    position: relative;
    top: 60%;
    transform: translateY(-60%);
    margin: 0;
    padding: 0;
    padding-left: 30px;

    color: #FFFFFF;
    font-family: courier;
    font-style: normal;
    text-align: left;
}

/* Navbar Buttons */
#navbar_buttons {
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    height: 50px;

    list-style-type: none;
}

.navbar_button {
    display: inline;
}

.navbar_button a {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

/* Highlight Hover Button */
.navbar_button a:hover {
    background-color: #F6CECE;
}

.navbar_button img {
    display: inline;
    width: 50px;
    height: 50px;
}
